body{
    color: white;
    background-color: grey;
}
.heading{
    width: 80%;
    font-size: 22px;
}
#camera , #result{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}